<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <title>Tony Soprano</title>
    
  
</head>
<body>
  <nav> 
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/work">Work</a>
  </nav>

 <div class="pic">
  <img src="images/tony4.jpeg" alt="tony" />
  <img src="images/tony7.jpeg" alt="tony" />
  <img src="images/tony8.jpeg" alt="tony" />
  <img src="images/tony9.jpeg" alt="tony" />
 </div>
 
</body>
</html>