<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <title>Tony Soprano</title>
    
  
</head>
<body>
  <nav> 
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/photos">Photos</a>
  </nav>

<h1>Tony's Work</h1>

<p>Tony Soprano's work primarily revolves around his involvement in organized crime. As the boss of the DiMeo crime family, he oversees various illegal activities, including extortion, racketeering, smuggling, and gambling. Tony is responsible for making important decisions, resolving conflicts, and ensuring the profitability and stability of his organization.

    Throughout "The Sopranos," Tony faces numerous challenges and power struggles within the criminal world. He must balance the demands of his crew, navigate alliances with rival families, and constantly adapt to changing circumstances to maintain his power and influence.
    
    Beyond his work in the mafia, Tony also owns and manages several legitimate businesses. These ventures serve as fronts for money laundering and provide a cover for his illegal activities. His legitimate businesses include a waste management company, strip clubs, and various real estate investments.</p>



</body>
</html>